Repository aio-libs/aiobotocore, pull requests merged in 2025-05, with the labels that each got.

#1323 Update botocore to 1.37.3
  CHANGES.rst
  tests/botocore_tests/unit/protocols/legacy/output/ec2.json
  tests/botocore_tests/unit/protocols/legacy/output/json.json
  tests/botocore_tests/unit/protocols/legacy/output/query.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-json.json
  tests/botocore_tests/unit/protocols/legacy/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/ec2.json
  tests/botocore_tests/unit/protocols/output/json.json
  tests/botocore_tests/unit/protocols/output/json_1_0.json
  tests/botocore_tests/unit/protocols/output/query.json
  tests/botocore_tests/unit/protocols/output/rest-json.json
  tests/botocore_tests/unit/protocols/output/rest-xml.json
  tests/botocore_tests/unit/protocols/output/smithy-rpc-v2-cbor.json
  tests/botocore_tests/unit/protocols/protocol-tests-ignore-list.json
  tests/botocore_tests/unit/test_protocols.py
Labels: dependencies

#1350 Bump `uv` dev dependency
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: dependencies

#1354 Nest test CI/CD jobs under the same sidebar category
  .github/workflows/ci-cd.yml
Labels: github_actions

#1355 Leverage reusable zizmor workflow
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-zizmor.yml
Labels: github_actions

#1356 Fix documentation of minimum supported Python version
  README.rst
Labels: documentation

#1363 Bump pre-commit hooks, development dependencies and reusable workflow
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: dependencies

#1367 Upload coverage for entire CI matrix
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-test.yml
Labels: github_actions

#1368 Dependabot for uv and docs dependencies
  .github/dependabot.yml
Labels: github_actions
