Repository aio-libs/aiobotocore, pull requests merged in 2025-04, with the labels that each got.

#1325 Use SPDX license identifier for project metadata
  CHANGES.rst
  pyproject.toml
Labels: documentation

#1327 Update sphinx from 8.1.3 to 8.3.0
  docs/requirements.txt
Labels: dependencies

#1329 Patch `ResponseParser` and remaining subclasses
  CHANGES.rst
  aiobotocore/parsers.py
Labels: enhancement

#1336 Avoid persisting credentials in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Labels: github_actions

#1343 Prevent cache poisoning in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Labels: github_actions

#1339 Prevent code injection via template expansion in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Labels: github_actions

#1333 Fix code scanning alert - Workflow does not contain permissions
  .github/workflows/ci-cd.yml
Labels: github_actions

#1341 Pin non-trusted actions to a hash in CI/CD GitHub workflow
  .github/workflows/ci-cd.yml
Labels: github_actions

#1344 Zizmor integration
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-zizmor.yml
Labels: github_actions

#1347 Patch `ResponseParser.parse()` and others to prepare for upstream bump
  CHANGES.rst
  aiobotocore/args.py
  aiobotocore/endpoint.py
  aiobotocore/eventstream.py
  aiobotocore/parsers.py
  aiobotocore/response.py
  tests/botocore_tests/unit/test_eventstream.py
  tests/test_eventstreams.py
  tests/test_patches.py
Labels: enhancement

#1346 Bump dev dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: dependencies

#1345 Refactor build and test CI/CD jobs into reusable workflows
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-test.yml
Labels: github_actions
